:root {
    --Background-Color: #051c38;
    --Text-Color: #e6d3ab;
    --Accent-Color: #34617f;
    --Border-Color: #5f8fa5;
    --Visited-Text: #55f5ff;
    --Link-Text: #35b7d1;
}
* {
    font-family: sans-serif;
}
body.light-theme {
    --Background-Color: #5f8fa5;
    --Text-Color: #051c38;
    --Accent-Color: #c6b38b;
    --Visited-Text: #25606a;
    --Link-Text: #55f5ff;
}
h1, h2, h3 {
    text-align: center;
}
p {
    text-indent: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    background-color: var(--Accent-Color);
    padding: 2px;
    margin-bottom: 1rem;
    border-radius: 1.8rem;
    text-align: center;
}
body {
    background-color: var(--Background-Color);
    color: var(--Text-Color);
    justify-content: center;
}
article {
    padding: 15px;
    position: relative;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 8px;
}
ul {
    text-align: left;
}
.skill-info {
    border: #05f4922f solid;
    text-align: left;
    border-radius: 1.7rem;
    margin: 1rem;
}
.project-info {
    border: #05f4922f solid;
    border-radius: 1.7rem;
    margin: 1rem;
}
.project-container{
    border-top: #05f4922f solid;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.project {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6px;
    margin: 1rem;
    box-sizing: border-box;
    border: white solid;
    min-width: 25%;
    min-height: 25%;
    text-align: left;
}
.project p {
    font-size: small;
    text-indent: 0;
    width: 50%;
    position: relative;
}
.theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}
.theme-toggle:hover {
    background: rgba(255, 255, 255, 0.3);
}
.alt-theme {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0,3s;
}
.alt-theme:hover {
    background: rgba(255, 255, 255, 0.3);
}
a:link {
    color: var(--Link-Text);
}
a:visited {
    color: var(--Visited-Text);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    width: 40%;
}
.selfie {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
    right: 0;
    top: 180;
    padding-right: 8px;
}
.container {
    width: 75%;
    max-height: max-content;
    text-align: center;
    border-radius: 2rem;
    border-color: aquamarine;
    box-sizing: border-box;
    border: solid;
    position:relative;
    margin: 0 auto;
    background: #0000000f;
}
/* ========= Print Style ========*/
@media print {
    .theme-toggle {
        display: none;
    }

    body {
        background: white;
        color: black;
    }
}