:root {
    --Primary-Color: #3F403B;
    --Secondary-Color: #82A8B8;
}


h1, h2, h3 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    background-color: var(--Secondary-Color);
    color: var(--Primary-Color);
    padding: 2px;
}
body {
    background-color: var(--Primary-Color);
    color: var(--Secondary-Color);
    justify-content: center;
}
article {
    padding: 15px;
    border-style: solid;
    border-color: #092241;
    width: 50%;
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 8px;
}
a:link {
    color: #607ebc;
}
a:visited {
    color: #278783;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
table {
    border-style: solid;
    border-color: #000;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #c7b7fc;
    color: #071932;
}
.selfie {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 180;
    padding-right: 8px;
}
