:root {
    --Background-Color: #051c38;
    --Text-Color: #e6d3ab;
    --Accent-Color: #34617f;
    --Border-Color: #5f8fa5;
    --Visited-Text: #55f5ff;
    --Link-Text: #35b7d1;

}

body.light-theme {
    --Background-Color: #5f8fa5;
    --Text-Color: #051c38;
    --Accent-Color: #e6d3ab;
    --Border-Color: #34617f;
    --Visited-Text: #25606a;
    --Link-Text: #55f5ff;
}

body.alt-theme {
    --Background-Color: #9985f3;
    --Text-Color: #f4ecfe;
    --Accent-Color: #c7b7fc;
    --Border-Color: #e2d3ef;
}


h1, h2, h3 {
    text-align: center;
}
p {
    text-indent: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    background-color: var(--Accent-Color);
    padding: 2px;
}
body {
    background-color: var(--Background-Color);
    color: var(--Text-Color);
    justify-content: center;
}
article {
    padding: 15px;
    border-style: solid;
    border-color: var(--Border-Color);
    width: 50%;
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 8px;
}
.theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0,3s;
}
.theme-toggle:hover {
    background: rgba(255, 255, 255, 0.3);
}
a:link {
    color: var(--Link-Text);
}
a:visited {
    color: var(--Visited-Text);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
table {
    border-style: solid;
    border-color: var(--Border-Color);
    text-align: center;
}
tr:nth-child(even) {
    background-color: var(--Text-Color);
    color: var(--Background-Color);
}
.selfie {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 180;
    padding-right: 8px;
}
.goal {
    width: 275px;
    height: 275px;
    object-fit:contain;
    position: fixed;
    right: 0;
    top: 180;
    padding-right: 8px; 
}
/* ========= Print Style ========*/
@media print {
    .theme-toggle {
        display: none;
    }

    body {
        background: white;
        color: black;
    }
}